# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Ignore all .env files anywhere in the project
*.env

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# OS-specific files
.DS_Store
Thumbs.db

# Build files
/dist/
/build/
/.out/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Coverage reports
coverage/
*.lcov

# Dependency directories
frontend/node_modules/
backend/node_modules/

# Production files
frontend/dist/
backend/dist/

# Other unwanted files
*.local
.env.local
.env.*.local
