@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
} */

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* Hide scrollbar */
}

/* General rule to allow scrolling */
.hide-scrollbar {
  overflow-y: scroll; /* Or 'auto' */
}
